appdirs==1.4.0
certifi==2018.4.16
chardet==3.0.4
fuzzywuzzy==0.15.1
idna==2.6
oauthlib==2.0.7
packaging==16.8
pymongo==3.6.1
pyparsing==2.1.10
PySocks==1.6.8
requests==2.18.4
requests-oauthlib==0.8.0
six==1.10.0
style==1.1.0
tweepy==3.6.0
update==0.0.1
urllib3==1.26.5
win-inet-pton==1.0.1
nltk
geopy
